n8n/workflows/combined-full-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { name, email, jobDescription, resume } = item.json.body || {};\n  const missingFields = [];\n  if (!name) missingFields.push('name');\n  if (!email) missingFields.push('email');\n  if (!jobDescription) missingFields.push('jobDescription');\n  if (!resume) missingFields.push('resume');\n  if (missingFields.length > 0) {\n    throw new Error(`Missing required fields inside body: ${missingFields.join(', ')}`);\n  }\n  return { json: { name, email, jobDescription, resume } };\n});"
      },
      "id": "8c0dafce-86ce-45b8-a5e0-96c0d2dbbc06",
      "name": "Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-912, -96]
    },
    {
      "parameters": {
        "tableId": "candidates_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "name", "fieldValue": "={{ $node[\"Validate Inputs\"].json.name }}" },
            { "fieldId": "email", "fieldValue": "={{ $node[\"Validate Inputs\"].json.email }}" }
          ]
        }
      },
      "id": "1d4b6a38-2fc1-4515-b65a-e0d51e75c669",
      "name": "Store Candidate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-720, -96],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama-3.3-70b-versatile\",\n    \"messages\": [\n      { \"role\": \"system\", \"content\": \"Extract structured data from this job description. Return JSON only: { \\\"skills\\\": string[], \\\"yearsExperience\\\": number, \\\"roles\\\": string[], \\\"summary\\\": string }\" },\n      { \"role\": \"user\", \"content\": $node[\"Validate Inputs\"].json.jobDescription }\n    ],\n    \"response_format\": { \"type\": \"json_object\" }\n  }\n}}",
        "options": {}
      },
      "id": "7942963c-f665-4754-9eb3-172f68e1593b",
      "name": "Parse JD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-528, -304],
      "credentials": { "httpHeaderAuth": { "id": "WlHKo4N02BhjQPJK", "name": "Header Auth account 7" } }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const content = JSON.parse(item.json.choices[0].message.content);\n  return { json: { skills: Array.isArray(content.skills) ? content.skills : [], yearsExperience: typeof content.yearsExperience === 'number' ? content.yearsExperience : 0, roles: Array.isArray(content.roles) ? content.roles : [] } };\n});"
      },
      "id": "00e01db4-c41d-4f38-bf62-40afc020c2e1",
      "name": "Extract JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, -304]
    },
    {
      "parameters": {
        "tableId": "job_descriptions_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "candidate_id", "fieldValue": "={{ $node[\"Store Candidate\"].json.id }}" },
            { "fieldId": "raw_text", "fieldValue": "={{ $node[\"Validate Inputs\"].json.jobDescription }}" },
            { "fieldId": "parsed_skills", "fieldValue": "={{ $json.skills }}" },
            { "fieldId": "parsed_years_experience", "fieldValue": "={{ $json.yearsExperience }}" },
            { "fieldId": "parsed_roles", "fieldValue": "={{ $json.roles }}" }
          ]
        }
      },
      "id": "ef410d0b-dcd0-480e-a411-c49debd07766",
      "name": "Store JD",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-144, -304],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama-3.3-70b-versatile\",\n    \"messages\": [\n      { \"role\": \"system\", \"content\": \"Extract structured data from this resume. Return JSON only: { \\\"skills\\\": string[], \\\"experience\\\": [{ \\\"title\\\": string, \\\"company\\\": string, \\\"duration\\\": string, \\\"highlights\\\": string[] }], \\\"education\\\": [{ \\\"degree\\\": string, \\\"institution\\\": string, \\\"year\\\": string }] }\" },\n      { \"role\": \"user\", \"content\": $node[\"Validate Inputs\"].json.resume }\n    ],\n    \"response_format\": { \"type\": \"json_object\" }\n  }\n}}",
        "options": {}
      },
      "id": "9d33b554-01bb-4774-afff-774711f2b34f",
      "name": "Parse Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-528, 96],
      "credentials": { "httpHeaderAuth": { "id": "WlHKo4N02BhjQPJK", "name": "Header Auth account 7" } }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const content = JSON.parse(item.json.choices[0].message.content);\n  return { json: { skills: Array.isArray(content.skills) ? content.skills : [], experience: Array.isArray(content.experience) ? content.experience : [], education: Array.isArray(content.education) ? content.education : [] } };\n});"
      },
      "id": "a38091fb-c2f3-4563-b616-1a46d997d8ce",
      "name": "Extract Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, 96]
    },
    {
      "parameters": {
        "tableId": "resumes_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "candidate_id", "fieldValue": "={{ $node[\"Store Candidate\"].json.id }}" },
            { "fieldId": "raw_text", "fieldValue": "={{ $node[\"Validate Inputs\"].json.resume }}" },
            { "fieldId": "parsed_skills", "fieldValue": "={{ $json.skills }}" },
            { "fieldId": "parsed_experience", "fieldValue": "={{ $json.experience }}" },
            { "fieldId": "parsed_education", "fieldValue": "={{ $json.education }}" }
          ]
        }
      },
      "id": "dc6c7830-eb7d-4320-9122-327b989acd18",
      "name": "Store Resume",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-144, 96],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: { actor_type: 'system', action: 'candidate_intake_complete', resource_type: 'candidates', resource_id: $node[\"Store Candidate\"].json.id, details: { email: $node[\"Validate Inputs\"].json.email } }\n}));"
      },
      "id": "66c4e601-59a4-4cdb-bfb0-7d14a075fe62",
      "name": "Prepare Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [48, 96]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1d3929c7-d146-425c-a0c7-abfb33ed53fb",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1104, -96],
      "webhookId": "36e4a038-59ab-444f-85e8-d93ecd377cd9"
    },
    {
      "parameters": {
        "tableId": "audit_log_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "actor_type", "fieldValue": "={{ $json.actor_type }}" },
            { "fieldId": "action", "fieldValue": "={{ $json.action }}" },
            { "fieldId": "resource_type", "fieldValue": "={{ $json.resource_type }}" },
            { "fieldId": "resource_id", "fieldValue": "={{ $json.resource_id }}" },
            { "fieldId": "details", "fieldValue": "={{ $json.details }}" }
          ]
        }
      },
      "id": "861c3a16-ced2-4e12-a1e1-a9109c1235c6",
      "name": "Audit Log1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, 96],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { candidate_id: $node['Store Candidate'].json.id, jd_id: $node['Store JD'].json.id, resume_id: $node['Store Resume'].json.id, name: $node['Validate Inputs'].json.name, email: $node['Validate Inputs'].json.email } }}",
        "options": {}
      },
      "id": "6f2bb098-4757-4be3-a2a3-f4c25a3c03a6",
      "name": "Build Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [864, -96]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [512, -96],
      "id": "903c42a9-5cbe-4724-a1c3-3e2a04c98d9b",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "interview_sessions_ai_interview",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.session_id }}" }] }
      },
      "id": "3ae36546-ad2c-43b3-8bc2-9b6d918a62bd",
      "name": "Fetch Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 1360],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "interview_questions_ai_interview",
        "filters": { "conditions": [{ "keyName": "session_id", "condition": "eq", "keyValue": "={{ $json.session_id }}" }] }
      },
      "id": "8cc2e8f8-4ab2-4504-8d20-1ac288da021e",
      "name": "Fetch Questions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 1568],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "proctoring_events_ai_interview",
        "filters": { "conditions": [{ "keyName": "session_id", "condition": "eq", "keyValue": "={{ $json.session_id }}" }] }
      },
      "id": "b1aaaea0-c5fe-45bd-830b-18b6e9f7e615",
      "name": "Fetch Proctoring",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 1760],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "interview_answers_ai_interview",
        "filters": { "conditions": [{ "keyName": "session_id", "condition": "eq", "keyValue": "={{ $json.session_id }}" }] }
      },
      "id": "d78aef1b-d440-4486-9c50-4193a09583ba",
      "name": "Fetch Answers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 1952],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "const questions = $('Fetch Questions').all().map(i => i.json);\nconst answers = $('Fetch Answers').all().map(i => i.json);\nconst proctoringEvents = $('Fetch Proctoring').all().map(i => i.json);\nconst session = $('Fetch Session').item?.json;\nconst resume = $('Fetch Resume').item?.json;\nconst jd = $('Fetch JD').item?.json;\nconst sessionId = session?.id;\nconst answerMap = {};\nanswers.forEach(a => { if (a.question_id) { answerMap[a.question_id] = a.answer_text; } });\nconst qa = questions.map((q) => ({ question: q.question_text, type: q.question_type, is_follow_up: q.source === 'llm_ts_followup' || q.source === 'live_followup', source: q.source, parent_question_id: q.parent_question_id || null, answer: answerMap[q.id] || '[no answer provided]' }));\nconst summary = { totalEvents: proctoringEvents.length, criticalEvents: proctoringEvents.filter(e => e.severity === 'critical').length, warningEvents: proctoringEvents.filter(e => e.severity === 'warning').length, tabSwitches: proctoringEvents.filter(e => e.event_type === 'tab_switch' || e.event_type === 'window_blur').length, faceAbsences: proctoringEvents.filter(e => e.event_type === 'face_absent').length, faceMultiple: proctoringEvents.filter(e => e.event_type === 'face_multiple').length, silentPeriods: proctoringEvents.filter(e => e.event_type === 'audio_silence').length, fullscreenExits: proctoringEvents.filter(e => e.event_type === 'fullscreen_exit').length, copyPastes: proctoringEvents.filter(e => e.event_type === 'copy_paste').length };\nreturn { session_id: sessionId, resumeText: resume?.raw_text || '', jdText: jd?.raw_text || '', answers: qa, proctoringSummary: summary };"
      },
      "id": "57fcdbd5-4da5-44f9-aeb4-6294c74449fd",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 1568]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a senior technical recruiter evaluating a candidate's interview answers against the job description and their resume to check for depth and authenticity. Compare the candidate's answers to the resume claims: detect any exaggerations, inconsistencies, or buzzword-heavy answers lacking real substance. Score 0-100 for technical_score, communication_score, problem_solving_score, cultural_fit_score, overall_score, and authenticity_score (credibility). Provide JSON format: { \\\"technical_score\\\": number, \\\"communication_score\\\": number, \\\"problem_solving_score\\\": number, \\\"cultural_fit_score\\\": number, \\\"overall_score\\\": number, \\\"authenticity_score\\\": number, \\\"strengths\\\": string[], \\\"weaknesses\\\": string[], \\\"red_flag_count\\\": number, \\\"red_flags\\\": string[], \\\"recommendation\\\": 'strong_hire' | 'hire' | 'consider' | 'no_go', \\\"ai_rationale\\\": \\\"2-3 sentence overview\\\", \\\"detailed_rationale\\\": \\\"detailed explanation of fit and authenticity findings\\\", \\\"resume_vs_reality\\\": [{ \\\"claim\\\": string, \\\"status\\\": 'verified' | 'suspicious' | 'unverifiable' | 'contradicted', \\\"evidence\\\": string }] }\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify(\"Job Description:\\n\" + $json.jdText + \"\\n\\nResume:\\n\" + $json.resumeText + \"\\n\\nAnswers:\\n\" + JSON.stringify($json.answers) + \"\\n\\nProctoring Events:\\n\" + JSON.stringify($json.proctoringSummary)) }} }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "3f1c08ee-d7ab-4192-9945-244888c5b46e",
      "name": "AI Scorer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 1568],
      "credentials": { "httpHeaderAuth": { "id": "WlHKo4N02BhjQPJK", "name": "Header Auth account 7" } }
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $node[\"Build Prompt\"].json.session_id;\nreturn items.map(item => {\n  try {\n    const content = item.json.choices?.[0]?.message?.content;\n    if (!content) throw new Error('No content in LLM response');\n    const c = JSON.parse(content);\n    return { json: { session_id: sessionId, technical_score: c.technical_score ?? 0, communication_score: c.communication_score ?? 0, problem_solving_score: c.problem_solving_score ?? 0, cultural_fit_score: c.cultural_fit_score ?? 0, overall_score: c.overall_score ?? 0, authenticity_score: c.authenticity_score ?? 0, red_flag_count: c.red_flag_count ?? 0, red_flags: c.red_flags || [], resume_vs_reality: c.resume_vs_reality || [], strengths: c.strengths || [], weaknesses: c.weaknesses || [], recommendation: c.recommendation || 'consider', ai_rationale: c.ai_rationale || 'No rationale provided by LLM', detailed_rationale: c.detailed_rationale || '', scoring_model_version: 'llama-3.3-70b-versatile-v2' } };\n  } catch (e) {\n    return { json: { session_id: sessionId, technical_score: 0, communication_score: 0, problem_solving_score: 0, cultural_fit_score: 0, overall_score: 0, authenticity_score: 0, red_flag_count: 0, red_flags: [], resume_vs_reality: [], strengths: [], weaknesses: ['Scoring failed - LLM response was invalid'], recommendation: 'consider', ai_rationale: 'The scoring pipeline encountered an error parsing the LLM response. Manual review is recommended.', detailed_rationale: '', scoring_model_version: 'llama-3.3-70b-versatile-v2' } };\n  }\n});"
      },
      "id": "5ca766d1-449b-46a4-bd1d-9a54ed323a29",
      "name": "Extract Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 1568]
    },
    {
      "parameters": { "tableId": "scorecards_ai_interview", "dataToSend": "autoMapInputData" },
      "id": "2b2796c6-bc2f-4376-b08e-81b4a6823fe0",
      "name": "Store Scorecard",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [336, 1568],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { session_id: $node[\"Prep Score\"].json.session_id, status: 'completed', completed_at: new Date().toISOString() } }];"
      },
      "id": "c89dddf3-a6d8-4a20-8ffd-6df87afb4830",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, 1568]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "interview_sessions_ai_interview",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.session_id }}" }] },
        "fieldsUi": { "fieldValues": [{ "fieldId": "status", "fieldValue": "={{ $json.status }}" }, { "fieldId": "completed_at", "fieldValue": "={{ $json.completed_at }}" }] }
      },
      "id": "dbf8717f-786c-4a94-b2d6-d633ac962750",
      "name": "Update Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [624, 1568],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({ json: { session_id: (item.json.body || item.json).session_id } }));"
      },
      "id": "46c2bb84-a965-43d0-b307-13a7a7a9ba43",
      "name": "Prep Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 1472]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "score-interview", "options": {} },
      "id": "16aa84cf-6272-4c11-bfd7-b1d0352e609e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1152, 1472],
      "webhookId": "d54e0c24-d773-4ff4-bbbf-04d2f1cc12fa"
    },
    {
      "parameters": { "numberInputs": 6 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-416, 1568],
      "id": "d84eaab0-df6b-4695-9f9b-9a02185b7d74",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "resumes_ai_interview",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $node[\"Fetch Session\"].json.resume_id }}" }] }
      },
      "id": "fetch-resume-combined",
      "name": "Fetch Resume",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 2150],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "job_descriptions_ai_interview",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $node[\"Fetch Session\"].json.jd_id }}" }] }
      },
      "id": "fetch-jd-combined",
      "name": "Fetch JD",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-896, 2350],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "function uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\nconst input = items[0].json.body || items[0].json;\nconst sessionId = uuid();\nconst expiresAt = new Date(Date.now() + 1 * 24 * 60 * 60 * 1000);\nconst baseUrl = input.frontendUrl || items[0].json.frontendUrl || 'http://localhost:5173';\nconst inviteLink = `${baseUrl}/interview/${sessionId}`;\nconst candidateEmail = input.candidate_email || input.email;\nconst candidateName = input.candidate_name || input.name || 'Candidate';\nif (!candidateEmail) {\n  throw new Error('Missing candidate email. Send email or candidate_email in the webhook body.');\n}\nreturn {\n  ...input,\n  candidate_email: candidateEmail,\n  candidate_name: candidateName,\n  session_id: sessionId,\n  invite_link: inviteLink,\n  token_hash: sessionId,\n  expires_at: expiresAt.toISOString(),\n  status: 'invited'\n};"
      },
      "id": "8e00c2ab-fa5c-4d95-8c25-4d6d3f5c8ace",
      "name": "Generate Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-976, 768]
    },
    {
      "parameters": {
        "tableId": "interview_sessions_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "candidate_id", "fieldValue": "={{ $json.candidate_id }}" },
            { "fieldId": "jd_id", "fieldValue": "={{ $json.jd_id }}" },
            { "fieldId": "resume_id", "fieldValue": "={{ $json.resume_id }}" },
            { "fieldId": "status", "fieldValue": "={{ $json.status }}" },
            { "fieldId": "invite_link", "fieldValue": "={{ $json.invite_link }}" },
            { "fieldId": "token_hash", "fieldValue": "={{ $json.token_hash }}" },
            { "fieldId": "expires_at", "fieldValue": "={{ $json.expires_at }}" },
            { "fieldId": "created_by", "fieldValue": "={{ $json.hr_user_id }}" }
          ]
        }
      },
      "id": "1855be22-c1ca-466f-852c-396410271094",
      "name": "Store Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-784, 768],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Generate Session\"].json;\nconst sessionId = $node[\"Store Session\"].json.id || input.session_id;\nconst reviewedQuestions = Array.isArray(input.questions) ? input.questions : [];\nconst intro = { session_id: sessionId, question_text: \"Hello! I am your AI Interviewer today. Welcome to your interview. To start off, how are you doing today?\", question_type: \"cultural\", order_index: 0, source: \"hr_reviewed_intro\" };\nconst questions = reviewedQuestions.filter(q => q && String(q.question_text || '').trim()).map((q, index) => ({ session_id: sessionId, question_text: String(q.question_text).trim(), question_type: q.question_type || 'technical', order_index: index + 1, source: q.source || 'hr_reviewed_llm' }));\nreturn [intro, ...questions].map(question => ({ json: question }));"
      },
      "id": "c3e5105b-53a6-45f7-b7c1-f48dafdf485c",
      "name": "Prepare Reviewed Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-592, 768]
    },
    {
      "parameters": {
        "tableId": "interview_questions_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "session_id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "question_text", "fieldValue": "={{ $json.question_text }}" },
            { "fieldId": "question_type", "fieldValue": "={{ $json.question_type }}" },
            { "fieldId": "order_index", "fieldValue": "={{ $json.order_index }}" },
            { "fieldId": "source", "fieldValue": "={{ $json.source }}" }
          ]
        }
      },
      "id": "3fd38982-7ed7-4099-a848-7499ae58bcb8",
      "name": "Store Reviewed Questions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-352, 768],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": { "httpMethod": "POST", "path": "create-session", "options": {} },
      "id": "b1df5ca5-f777-4f54-91da-8786aa3c9312",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1184, 768],
      "webhookId": "f2cb1c67-60fa-4523-9aef-ad3f2d2707c5"
    },
    {
      "parameters": {
        "fromEmail": "info@scalepods.co",
        "toEmail": "={{ $(\"Generate Session\").first().json.candidate_email }}",
        "subject": "={{ \"Interview Invitation for \" + $(\"Extract Position1\").first().json.position + \" - ScalePods\" }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f5\">\n<tr><td align=\"center\" style=\"padding:40px 16px\">\n<table role=\"presentation\" width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.08)\">\n<tr><td style=\"padding:40px 40px 0 40px\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td align=\"center\">\n<img src=\"https://www.scalepods.co/_next/image?url=%2Fscalepods-navbar-logo.png&w=256&q=75&dpl=dpl_Hpfr4cYYddNiSVu9L9sUnW3ddnuW\" alt=\"ScalePods\" width=\"128\" style=\"display:inline-block;border:0;outline:none\" />\n</td></tr>\n</table>\n</td></tr>\n<tr><td style=\"padding:24px 40px 0 40px\">\n<h1 style=\"margin:0;font-size:22px;font-weight:600;color:#1c1c1e;text-align:center\">Interview Invitation: {{ $(\"Extract Position1\").first().json.position }}</h1>\n<p style=\"margin:20px 0 0 0;font-size:15px;line-height:1.6;color:#3a3a3c\">Dear {{ $(\"Generate Session\").first().json.candidate_name }},</p>\n<p style=\"margin:12px 0 0 0;font-size:15px;line-height:1.6;color:#3a3a3c\">You have been invited to complete an AI-powered interview for the position of <strong>{{ $(\"Extract Position1\").first().json.position }}</strong> with <strong>ScalePods</strong>. Please use the link below to begin.</p>\n</td></tr>\n<tr><td style=\"padding:24px 40px 0 40px\" align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td style=\"background:#7e14ff;border-radius:10px;padding:14px 36px\">\n<a href=\"{{ $(\"Generate Session\").first().json.invite_link }}\" style=\"color:#ffffff;font-size:15px;font-weight:600;text-decoration:none;display:inline-block\">Start Your Interview</a>\n</td></tr>\n</table>\n</td></tr>\n<tr><td style=\"padding:32px 40px 0 40px\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9fb;border-radius:12px;padding:20px 24px\">\n<tr><td>\n<h2 style=\"margin:0 0 12px 0;font-size:13px;font-weight:600;color:#7e14ff;text-transform:uppercase;letter-spacing:0.5px\">Setup & Preparation</h2>\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Find a quiet, well-lit room</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Camera and microphone must be ready</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Stable internet connection required</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Use <strong>Chrome</strong> or <strong>Edge</strong> for best results</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Set aside ~15-20 minutes of uninterrupted time</td></tr>\n</table>\n</td></tr>\n</table>\n</td></tr>\n<tr><td style=\"padding:16px 40px 0 40px\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9f9fb;border-radius:12px;padding:20px 24px\">\n<tr><td>\n<h2 style=\"margin:0 0 12px 0;font-size:13px;font-weight:600;color:#7e14ff;text-transform:uppercase;letter-spacing:0.5px\">Proctoring Notice</h2>\n<p style=\"margin:0 0 10px 0;font-size:14px;line-height:1.5;color:#3a3a3c\">This interview is monitored to ensure integrity. By proceeding, you acknowledge:</p>\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Video and audio are recorded throughout</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Your face must remain visible on camera</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Do not switch tabs or applications</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">Copying or pasting text is not permitted</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">No other people or devices should be present</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\">You must remain in fullscreen mode</td></tr>\n<tr><td style=\"padding:4px 0;font-size:14px;color:#3a3a3c;vertical-align:top\" width=\"20\">•</td><td style=\"padding:4px 0 4px 8px;font-size:14px;color:#3a3a3c\"><strong>3 or more critical violations will terminate the interview</strong></td></tr>\n</table>\n</td></tr>\n</table>\n</td></tr>\n<tr><td style=\"padding:20px 40px 0 40px\">\n<p style=\"margin:0;font-size:14px;line-height:1.5;color:#8e8e93\">This link expires after <strong style=\"color:#3a3a3c\">24 Hours</strong>.</p>\n</td></tr>\n<tr><td style=\"padding:20px 40px 0 40px\">\n<p style=\"margin:0;font-size:14px;line-height:1.5;color:#3a3a3c\">Best regards,<br><strong>ScalePods Team</strong></p>\n</td></tr>\n<tr><td style=\"padding:32px 40px 24px 40px\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:1px solid #e5e5ea;padding-top:16px\">\n<tr><td align=\"center\">\n<p style=\"margin:0;font-size:12px;color:#aeaeb2\">ScalePods - AI-Powered Interview Platform</p>\n</td></tr>\n</table>\n</td></tr>\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {}
      },
      "id": "728843d5-cf3b-4567-b805-cfc2bd14c715",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [496, 768],
      "credentials": { "smtp": { "id": "sOjQCdt6jZVt2pCD", "name": "AMAZON SES" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { invite_link: $node['Generate Session'].json.invite_link, session_id: $node['Generate Session'].json.session_id } }}",
        "options": {}
      },
      "id": "6d28e3c6-f6e7-4294-b418-77b586262d9d",
      "name": "Build Response2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1168, 768]
    },
    {
      "parameters": {
        "jsCode": "const storeSession = $node[\"Store Session\"].json;\nconst genSession = $node[\"Generate Session\"].json;\nreturn items.map(item => ({\n  json: { actor_type: 'system', action: 'interview_invite_sent', resource_type: 'interview_sessions', resource_id: storeSession.id, details: { email: genSession.candidate_email } }\n}));"
      },
      "id": "b3854748-5dfd-48ff-ab3a-58c4d3f16b12",
      "name": "Prepare Audit2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [752, 768]
    },
    {
      "parameters": {
        "tableId": "audit_log_ai_interview",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "actor_type", "fieldValue": "={{ $json.actor_type }}" },
            { "fieldId": "action", "fieldValue": "={{ $json.action }}" },
            { "fieldId": "resource_type", "fieldValue": "={{ $json.resource_type }}" },
            { "fieldId": "resource_id", "fieldValue": "={{ $json.resource_id }}" },
            { "fieldId": "details", "fieldValue": "={{ $json.details }}" }
          ]
        }
      },
      "id": "8a239916-930b-4469-8cd8-b5aa41f9b662",
      "name": "Audit Log2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [976, 768],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "job_descriptions_ai_interview",
        "filters": { "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $(\"Store Session\").first().json.jd_id }}" }] }
      },
      "id": "d001cbf3-3475-4cc0-86b3-29aad393091a",
      "name": "Fetch Position1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-112, 768],
      "credentials": { "supabaseApi": { "id": "wMaaAewNUY90iUpo", "name": "Supabase account 2" } }
    },
    {
      "parameters": {
        "jsCode": "const jd = $input.first().json;\nconst role = jd.parsed_roles?.[0] || 'the position';\nreturn [{ json: { position: role } }];"
      },
      "id": "f3cf1f0a-1c2a-4772-8f79-0fa764b9d7c1",
      "name": "Extract Position1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 768]
    },
    {
      "parameters": {
        "jsCode": "const genSession = $node[\"Generate Session\"].json;\nconst storeSession = $node[\"Store Session\"].json;\nconst position = $node[\"Extract Position1\"].json.position || 'the position';\nreturn [{ json: { candidate_email: genSession.candidate_email, candidate_name: genSession.candidate_name, invite_link: genSession.invite_link, expires_at: genSession.expires_at, session_id: storeSession.id, position: position } }];"
      },
      "id": "b1d8242c-7e45-4e42-afd9-956bce5fa65f",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, 768]
    }
  ],
  "connections": {
    "Validate Inputs": { "main": [[{ "node": "Store Candidate", "type": "main", "index": 0 }]] },
    "Store Candidate": { "main": [[{ "node": "Parse JD", "type": "main", "index": 0 }, { "node": "Parse Resume", "type": "main", "index": 0 }]] },
    "Parse JD": { "main": [[{ "node": "Extract JD", "type": "main", "index": 0 }]] },
    "Extract JD": { "main": [[{ "node": "Store JD", "type": "main", "index": 0 }]] },
    "Store JD": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Parse Resume": { "main": [[{ "node": "Extract Resume", "type": "main", "index": 0 }]] },
    "Extract Resume": { "main": [[{ "node": "Store Resume", "type": "main", "index": 0 }]] },
    "Store Resume": { "main": [[{ "node": "Prepare Audit", "type": "main", "index": 0 }]] },
    "Prepare Audit": { "main": [[{ "node": "Audit Log1", "type": "main", "index": 0 }]] },
    "Webhook1": { "main": [[{ "node": "Validate Inputs", "type": "main", "index": 0 }]] },
    "Audit Log1": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Build Response1": { "main": [[]] },
    "Merge": { "main": [[{ "node": "Build Response1", "type": "main", "index": 0 }]] },
    "Fetch Session": { "main": [[{ "node": "Merge1", "type": "main", "index": 0 }]] },
    "Fetch Questions": { "main": [[{ "node": "Merge1", "type": "main", "index": 1 }]] },
    "Fetch Proctoring": { "main": [[{ "node": "Merge1", "type": "main", "index": 2 }]] },
    "Fetch Answers": { "main": [[{ "node": "Merge1", "type": "main", "index": 3 }]] },
    "Fetch Resume": { "main": [[{ "node": "Merge1", "type": "main", "index": 4 }]] },
    "Fetch JD": { "main": [[{ "node": "Merge1", "type": "main", "index": 5 }]] },
    "Build Prompt": { "main": [[{ "node": "AI Scorer", "type": "main", "index": 0 }]] },
    "AI Scorer": { "main": [[{ "node": "Extract Score", "type": "main", "index": 0 }]] },
    "Extract Score": { "main": [[{ "node": "Store Scorecard", "type": "main", "index": 0 }]] },
    "Store Scorecard": { "main": [[{ "node": "Prepare Update", "type": "main", "index": 0 }]] },
    "Prepare Update": { "main": [[{ "node": "Update Session", "type": "main", "index": 0 }]] },
    "Prep Score": { "main": [[{ "node": "Fetch Session", "type": "main", "index": 0 }, { "node": "Fetch Questions", "type": "main", "index": 0 }, { "node": "Fetch Proctoring", "type": "main", "index": 0 }, { "node": "Fetch Answers", "type": "main", "index": 0 }, { "node": "Fetch Resume", "type": "main", "index": 0 }, { "node": "Fetch JD", "type": "main", "index": 0 }]] },
    "Webhook": { "main": [[{ "node": "Prep Score", "type": "main", "index": 0 }]] },
    "Merge1": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Generate Session": { "main": [[{ "node": "Store Session", "type": "main", "index": 0 }]] },
    "Store Session": { "main": [[{ "node": "Prepare Reviewed Questions", "type": "main", "index": 0 }]] },
    "Prepare Reviewed Questions": { "main": [[{ "node": "Store Reviewed Questions", "type": "main", "index": 0 }]] },
    "Store Reviewed Questions": { "main": [[{ "node": "Fetch Position1", "type": "main", "index": 0 }]] },
    "Webhook2": { "main": [[{ "node": "Generate Session", "type": "main", "index": 0 }]] },
    "Send Email1": { "main": [[{ "node": "Prepare Audit2", "type": "main", "index": 0 }]] },
    "Prepare Audit2": { "main": [[{ "node": "Audit Log2", "type": "main", "index": 0 }]] },
    "Audit Log2": { "main": [[{ "node": "Build Response2", "type": "main", "index": 0 }]] },
    "Fetch Position1": { "main": [[{ "node": "Extract Position1", "type": "main", "index": 0 }]] },
    "Extract Position1": { "main": [[{ "node": "Prepare Email", "type": "main", "index": 0 }]] },
    "Prepare Email": { "main": [[{ "node": "Send Email1", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11e350345aae172743fe2665ba36f76304fbd6b68282474d7d08206f6a010061"
  }
}